# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.rake_t_cache
\#*
.\#*

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
tmtags
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

## PROJECT::GENERAL
coverage
rdoc
pkg
log
tmp
.bundle
.yardoc
.rbx
doc
*.a
*.o
*.gem
